<!--
    Authors: Rutvik Patel, Himanshu Patel
    Page for Gallery-->
@{
    ViewBag.Title = "About";
}
<div class="row">
    <div class="col-md-6" id="Image-Tab">
        <img src="~/Assets/images/luxurious-restaurant-interior-design-with-modern-chairs-and-seats-design-idea-with-unique-decoration-modern-restaurant-interior.jpg" height="300px" width="500px" />
    </div>
    <div class="col-md-6" id="Image-Tab">
        <img src="~/Assets/images/dynamic_resize.jpg" height="300px" width="500px"/>
    </div>
    <div class="col-md-6" id="Image-Tab">
        <img src="~/Assets/images/images.jpg" height="300px" width="500px" />
    </div>
</div>
