<!--
    Authors: Rutvik Patel, Himanshu Patel
    Page for Contact details-->
@{
    ViewBag.Title = "Contact";
}

<h2>@ViewBag.Title.</h2>
<h3>Call Now to order.</h3>

<address>
    176 Memorial Avenue<br />
    Texas, U.S.A<br />
    <abbr title="Phone">P:</abbr>
    705-222-22222
</address>
<img src="~/Assets/images/boston-massachusetts-hotel-location-map.gif" />