<!--
    Authors: Rutvik Patel, Himanshu Patel
    Page for Contact details-->
@{
    ViewBag.Title = "Contact";
}

<h2>@ViewBag.Title.</h2>
<h3>Call Now to order.</h3>
<div class="row">
    <div class="col-md-6">
        <address>
            176 Memorial Avenue<br />
            Texas, U.S.A<br />
            <abbr title="Phone">P:</abbr>
            705-222-22222
        </address>
        <p style="padding: 10px; word-spacing: 20px;">
            <a href="https://www.facebook.com/rutvik.patel.188"><i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i></a>
            <a href="https://github.com/rutvikpatel43"><i class="fa fa-git fa-lg" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/in/rutvik-patel-7214a5b4?trk=nav_responsive_tab_profile_pic"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>
        </p>
    </div>
    <div class="col-md-6">
        <img src="~/Assets/images/boston-massachusetts-hotel-location-map.gif" />
    </div>
    </div>