@{
    ViewBag.Title = "Home Page";
}

<div id="Food" class="jumbotron">
    <h1>Food</h1>
    <p class="lead">
        Ever tried Gujarati food. Try our Gujarati tali for $15. Thali has 5 different Veggies, Roti, Daal, Papad, Fries served with love.</p>
    <p><a href="http://asp.net" class="btn btn-warning btn-lg">Menu</a></p>
</div>
<div id="Drink" class="jumbotron">
    <h1>Drink</h1>
    <p class="lead">Get some rest from this heat. Try our smoothies, juices, drink.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Drink</a></p>
</div>

