<!--
    Authors: Rutvik Patel, Himanshu Patel
    Page for diaplaying a single item-->

@model Assignment_3.Models.Dishes

@{
    ViewBag.Title = @Model.DishName;
}



<div>
    <div>
        <h3 id="CenterText">Dish Name :@Model.DishName</h3>
    </div>
    <div>
        <img src="~/Content/OrignalImages/@Model.ImageUrl" alt="Cannot load image"/>
    </div>
    <div>
        <h2>$ @Model.price</h2>
    </div>
    <div>
        <h5>Description: @Model.Description</h5>
    </div>
</div>
<p>
    <a href="@Url.Action("Menu","Home",new { type=Model.Type})" class="btn btn-default btn-lg">Back to Menu</a>
</p>
